body {
  font-family: 'Montserrat', sans-serif;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
}

p {
  color: #7f7f7f;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/* Navbar */
.navbar {
  font-size: 1.2rem;
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 15px;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

/* Download Buttons */
.download-btn {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
  position: absolute;
  right: 22%;
  transform: rotate(20deg);
  width: 50%;
}

/* Section Features */
#features {
  background-color: #fff;
  padding: 7% 15%;
  position: relative;
  text-align: center;
}

.icon {
  color: #ef8172;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

.feature-box {
  padding: 3%;
}

/* Testimonials */
.carousel-item {
  background-color: #ef8172;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

.testimonial-image {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
  text-align: center;
}

.press-logo {
  margin: 20px 20px 50px;
  width: 15%;
}

/* Pricing */
#pricing {
  padding: 7% 10%;
  text-align: center;
}

.pricing-col {
  padding: 3% 2%;
}

@media (max-width: 1000px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }
  #title{
    text-align: center;
  }
}

/* CTA */
#cta {
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

/* Footer */
#footer{
  background-color: #fff;
  padding: 7%;
  text-align: center;
}

.f-icon {
  padding: 1rem;
}
